.Header
{
    text-align: center;
    background-color: #02F173;
    height: 40px;
}
.Footer
{
    text-align: center;
    background-color: #02F173;
    height: 40px;
}
.container
{
  width: 1396px;
  max-width: 100%;
  height: calc(100vh - 77px);
  background-color: white;
  display: flex;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.06),0 2px 2px 0 rgba(0,0,0,0.05);
}
.container .leftSide
{
  position: relative;
  flex: 30%;
  border-right: 1px solid rgba(0,0,0,0.2);
  background-color: white;
}
.head
{
    position: relative;
    width: 100%;
    height: 80px;
    background: #ededed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}
.userimg
{
    position: relative;
    width: 48px;
    height: 48px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.06),0 2px 2px 0 rgba(0,0,0,0.05);
}
.nickname
{
  position: relative;
  justify-content: space-between;
  margin-bottom: 5px;
  right: 85px;
}
.container .rightSide
{
  position: relative;
  flex: 70%;
  display: flex;
  background-color: beige;
}
#input_text
{
  align-self: flex-end;
}
.addchat
{
    position: relative;
    background-image: url(chat.png);
    width: 24px;
    height: 24px;
    cursor: pointer;
    border: none;
    overflow: hidden;
}
.chatlist
{
  position: relative;
  height: calc(100% - 120px);
  overflow-y: auto;
}
.chatlist .block
{
  position: relative;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom:  1px solid rgba(0,0,0,0.06);
  cursor: pointer;
}
.chatlist .block .imgbox
{
  position: relative;
  width: 48px;
  height: 48px;
  overflow: hidden;
  border-radius: 50%;
}
.chatlist .block .details
{
  position: relative;
  width: 100%;
}
.chatlist .block .details .listHead
{
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.chatlist .block .details .listHead h4
{
  font-size: 1.1em;
  font-weight: 600;
  color: black;
}
